.main-container{
    width: 100%;
}
.left-container{
    width: 20%;
    padding-left: 12px;
    
    height: 90vh;
    border: solid 2px white;
    border-radius:10px ;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    
}
.drag-items1{
    background-color: violet;
    color: black;
    width:80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.drag-items2{
    background-color: red;
    color: black;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.drag-items3{
    background-color: aqua;
    color: black;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.drag-items4{
    background-color: yellow;
    color: black;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.drag-items1 .drag-items2 .drag-items3 .drag-items4 :hover{
    padding: 10px;
}

.middle-container {
    
    padding-left: 60px;
    width: 50%;
    height: 90vh;
    border: solid 2px white;
    border-radius:10px ;
    
  }
  .droppable
  {
    margin-top: 20px;
    padding: 5px;
    width:40%;
    min-height: 40px;
    height: fit-content;
    border: solid 1px blue;
    border-radius: 10px;
   
  }
#drop-target2{
    margin-left: 260px;
    
  }

  .right-container{
    width: 50%;
    height: 90vh;
    border: solid 2px white;
    border-radius:10px ;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container button{
    position:relative;

}