.main-container{
    width: 100%;
}
.left-container{
    background-color: #242424;
    width: 20%;
    padding-left: 12px;
    
    height: 90vh;
   
    border-radius:10px ;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    
}
.drag-items1{
    background-color: violet;
    color: black;
    width:80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.drag-items2{
    background-color: rgb(242, 42, 42);
    color: black;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.drag-items3{
    background-color: aqua;
    color: black;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.drag-items4{
    background-color: yellow;
    color: black;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.drag-items1 .drag-items2 .drag-items3 .drag-items4 :hover{
    padding: 10px;
}

.middle-container {
    background-color: #242424;
    width: 50%;
    height: 90vh;
    border-radius:10px ;
    
    
  }
  .middle-container button{
     margin:5px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .droppable
  {
    background-color: gray;
    margin-top: 20px;
    padding: 5px;
    width:40%;
    min-height: 40px;
    height: fit-content;
   
    border-radius: 10px;
   
  }
#middle-drop{
    display: flex;
    justify-content: space-around;
}

  .right-container{
    background-color: #242424;
    width: 50%;
    height: 90vh;
    
    border-radius:10px ;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
